@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap');

:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}
.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.text-centre {
    text-align: center;
}
.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}
.text-dark{
    color: var(--dark);
}
.inline {
    display: inline-block;
}
.text-light {
    color: var(--light);
}
#header nav {
    background-color: #06d6a0;
    padding: 1em 0;
    width: 100%;
}
.site-main{
    margin-top: 6em;
}
table{
    text-align: center;
    justify-content: center;
    margin-left: 0%;
    word-spacing: 0;
    width: 100%;

}
.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}
form {
    text-align: center;

}
input[type=text] {
    margin-top: 20px;
    height: 30px;
    border-bottom: 2px solid var(--dark);
}
button{
    padding: 1%;
    color: 10px solid black;
    margin-top: 1%;

}